@import 'Style';

.navbar{
  @include theme('background-color', $nav-color);
  background-color: $nav-color;
  @include theme('color', $link-color);
  color: $link-color;
}
a {
  @include theme('color', $link-color);
  color: $link-color;
}
