@import 'Style';

h2 {
  font-family: $title-font;
  font-weight: 500;
  border-radius: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 3px;
}

h2 {
  @include theme('color', $secondary-header-color);
  color: $secondary-header-color;
}

.row#rowA {
  @include theme('background', $rowA-color);
  background: $rowA-color;
}
.row#rowB {
  @include theme('background', $rowB-color);
  background: $rowB-color;
}
