// fonts
$title-font: 'Raleway', sans-serif;

$dark-theme: 'dark-theme';
$light-theme: 'light-theme';
// color names
$bg-color: 'bg-color';
$nav-color: 'nav-color';
$primary-header-color: 'primary-header-color';
$secondary-header-color: 'secondary-header-color';
$third-color: 'third-color';

$themes: (
  $light-theme: (
    $bg-color: #ffffff,
    $nav-color: #a087c3,
    $primary-header-color: #a087c3,
    $secondary-header-color: #ffb54b,
    $third-color: #f18a6e,
  ),
  $dark-theme: (
    $bg-color: #7b417b,
    $nav-color: #7b417b,
    $primary-header-color: #e6cbe1,
    $secondary-header-color: #fe9055,
    $third-color: #ff978e,
  ),
);

@mixin themeProperty(
  $theme,
  $property,
  $color,
  $additionalPropertiesPositionIsFront,
  $additionalProperties
) {
  @if $additionalPropertiesPositionIsFront {
    #{$property}: unquote(
      $additionalProperties + ' ' + map-get($theme, $color)
    );
  } @else {
    #{$property}: unquote(
      map-get($theme, $color) + ' ' + $additionalProperties
    );
  }
}

@mixin theme(
  $property,
  $color,
  $additionalPropertiesPositionIsFront: false,
  $additionalProperties: ''
) {
  $light: map-get($themes, $light-theme);
  $dark: map-get($themes, $dark-theme);

  @include themeProperty(
    $light,
    $property,
    $color,
    $additionalPropertiesPositionIsFront,
    $additionalProperties
  );

  @media (prefers-color-scheme: dark) {
    @include themeProperty(
      $dark,
      $property,
      $color,
      $additionalPropertiesPositionIsFront,
      $additionalProperties
    );
  }
}

.App {
  @include theme('background-color', $bg-color);
  text-align: center;
  background-color: $bg-color;
}
