$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(160, 135, 195);
$tertiary-color: #ffb54b;
$quaternary-color: rgb(241, 138, 110);

$title-font: 'Raleway', sans-serif;

.App {
  text-align: center;
  background-color: $primary-color;
}
