/* font-family: 'Fugaz One', cursive; */
/* font-family: 'Poppins', sans-serif; */
/*primary #ffc900*/
/*secondary #ff90e8*/
/*tertiary #23a094*/
:root {
  --primary-color: #ffc900;
  --secondary-color: #ff90e8;
  --tertiary-color: #23a094;
  --quaternary-color: #212529;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Fugaz One", cursive;
}

/*On small-medium viewport*/
@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
  .hero {
    padding: 106px 0 62px 0;
  }
  div.project-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
  }
  .nav-ul {
    justify-content: start;
  }
}

/*On 901-991px viewport*/
@media (min-width: 901px) and (max-width: 991px) {
  .hero {
    padding: 106px 0 62px 0;
  }
  .get-ready-forecast-img,
  .react-weather-app-img,
  .tic-tac-toe-img {
    margin-top: 44px;
  }
  .nav-ul {
    justify-content: start;
  }
}

/*On large viewport*/
@media (min-width: 901px) {
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  .hero {
    padding: 140px 0 120px 0;
  }
  .btn-primary {
    font-size: 20px;
  }
  .project-row {
    margin-top: 14px;
  }
  .project-description {
    margin-top: 36px;
    text-align: left;
  }
}
/*On large viewport*/
@media (min-width: 901px) {
  .nav-ul {
    display: flex;
    justify-content: end;
  }
}
/*All viewports*/
body {
  color: var(--font-color);
  font-family: var(--primary-font);
  text-align: center;
}
nav {
  background-color: var(--primary-color);
  color: #212529;
  border-bottom: 0.8mm solid var(--quaternary-color);
}

.hero {
  background: #ffc80049;
  max-width: 100%;
  line-height: 1.5;
  border-bottom: 0.8mm solid var(--quaternary-color);
}
.hero h1 {
  font-family: var(--secondary-font);
}
h1,
h2,
h3,
p {
  color: var(--quaternary-color);
}
h4 {
  font-size: 12px;
}
.btn-primary {
  background: var(--primary-color);
  border: 2px solid var(--quaternary-color);
  border-radius: 8px;
  color: var(--quaternary-color);
  padding: 8px 15px;
}
.btn-primary:hover {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--quaternary-color);
}
.btn-secondary {
  background: var(--primary-color);
  border-radius: 8px;
  border: 2px solid var(--quaternary-color);
  color: var(--quaternary-color);
  padding: 8px 15px;
}
.btn-secondary:hover {
  background-color: #27afa1;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}
img {
  justify-items: center;
  margin-top: 10px;
}
img:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}
.get-ready-forecast-img {
  max-width: 89%;
}
.react-weather-app-img {
  border-radius: 6px;
  max-width: 87%;
}
div.icon-container {
  margin: 10px 0 25px 0;
}
.footer-email {
  color: var(--quaternary-color);
  display: block;
  padding: 8px 0 10px 0;
  text-decoration: none;
  font-size: 17px;
}
.footer-email:hover {
  color: var(--tertiary-color);
}

footer {
  background: #ffc80049;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
  max-width: 100%;
  border-top: 0.8mm solid var(--quaternary-color);
}
footer .social-link-icons a {
  margin: 0 10px;
  color: rgb(255, 144, 232);
  background: rgba(255, 144, 233, 0.22);
  padding: 6px 14px;
  border-radius: 12px;
  font-size: 18px;
  transition: all 130ms ease-in-out;
}
footer .social-link-icons a:hover {
  color: rgb(241, 189, 0);
  background: rgba(255, 200, 0, 0.3);
  transition: all 130ms ease-in-out;
}
.open-source {
  padding-top: 8px;
  color: #2125297e;
}
.open-source-link {
color: var(--tertiary-color);
text-decoration: none;
}