/* font-family: 'Fugaz One', cursive; */
/* font-family: 'Poppins', sans-serif; */

:root {
  --primary-color: #ffc900;
  --secondary-color: #ff90e8;
  --tertiary-color: #23a094;
  --primary-font: "Fugaz One", cursive;
  --secondary-font: "Poppins", sans-serif;
}
/*On small-medium viewport*/
@media (max-width: 800px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 14px;
  }
}

/*On large viewport*/
@media (min-width: 800px) {
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
}

/*All viewports*/
body {
  background: var(--secondary-color);
  text-align: center;
  font-family: var(--secondary-font);
}
.primary-container {
  margin-top: 90px;
}
h1 {
  font-family: var(--primary-font);
}
