/*On small-medium viewport*/
@media (max-width: 900px) {
  div.card {
    width: 20rem;
    height: 100%;
  }
  .mywork-descriptions-container {
    flex-direction: column;
  }
  .mywork-col {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
}

/*On 901-991px viewport*/
@media (min-width: 901px) and (max-width: 991px) {
  div.mywork-container h1 {
    font-size: 48px;
  }
  div.card {
    width: 20rem;
    height: 100%;
  }
  .mywork-descriptions-container {
    flex-direction: column;
  }
  .mywork-col {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
}

/*On large viewport*/
@media (min-width: 991px) {
  div.mywork-container h1 {
    font-size: 60px;
padding-bottom: 40px;
  }
  div.card {
    height: 100%;
  }
}

/*All viewports*/
.mywork-container {
  margin-top: 80px;
}
.mywork-descriptions-container {
  display: flex;
  justify-content: center;
}
.mywork-img:hover {
  transform: none;
  transition: none;
}
div.card {
  border: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  margin: 0 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
div.card:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}
img.mywork-img {
  display: inline-block;
  align-self: center;
}
div.card-body {
  display: flex;
  height: 100%;
}
p.card-text {
  text-align: left;
  display: inline-block;
  align-self: flex-end;
}
